<section
    class="section team"
    id="equipe"
>

    <div class="container">
        <div class="team-header">
            <span class="section-label">
                NOSSA EQUIPE
            </span>
            <h2 class="section-title">
                Quem está por trás
                da Club Meal?
            </h2>
            <p class="section-text">
                Uma equipe que reuniu diferentes habilidades
                para pesquisar, planejar e desenvolver uma
                solução para um problema real.
            </p>
        </div>


        <div class="members">
            <article class="member">
                <div class="member-photo">
                    <img
                        src="img/integrantes/integrante-1.jpg"
                        alt="Letícia"
                    >
                </div>


                <div class="member-info">
                    <span>
                        01
                    </span>
                    <h3>
                        Letícia Pires de Almeida
                    </h3>
                    <p>
                        Função no projeto
                    </p>
                </div>
            </article>


            <article class="member">
                <div class="member-photo">
                    <img
                        src="img/integrantes/integrante-2.jpg"
                        alt="Milena"
                    >
                </div>


                <div class="member-info">
                    <span>
                        02
                    </span>
                    <h3>
                         Milena de Bastos Miranda
                    </h3>
                    <p>
                        Função no projeto
                    </p>
                </div>
            </article>


            <article class="member">
                <div class="member-photo">
                    <img
                        src="img/integrantes/integrante-3.jpg"
                        alt="Lucas"
                    >
                </div>


                <div class="member-info">
                    <span>
                        03
                    </span>
                    <h3>
                        Lucas
                    </h3>
                    <p>
                        Função no projeto
                    </p>
                </div>
            </article>


            <article class="member">
                <div class="member-photo">
                    <img
                        src="img/integrantes/integrante-4.jpg"
                        alt="Rafael"
                    >
                </div>


                <div class="member-info">
                    <span>
                        04
                    </span>
                    <h3>
                       Rafael
                    </h3>
                    <p>
                        Função no projeto
                    </p>
                </div>
            </article>

            <article class="member">
                <div class="member-photo">
                    <img
                        src="img/integrantes/integrante-4.jpg"
                        alt="Thomás"
                    >
                </div>


                <div class="member-info">
                    <span>
                        04
                    </span>
                    <h3>
                       Thomás
                    </h3>
                    <p>
                        Função no projeto
                    </p>
                </div>
            </article>

        </div>
    </div>
</section>