<footer>

    <div class="container footer-content">
        <div>
            <a href="#hero" class="logo">
                <img
                    src="assets/logo2.png"
                    alt="Club Meal"
                >
            </a>
            <p>
                Tecnologia e inovação para uma gestão
                de alimentos mais eficiente, inclusiva
                e sustentável.
            </p>
        </div>


        <div class="footer-links">
            <a href="#empresa">
                Empresa
            </a>
            <a href="#merenda">
                Merenda Já
            </a>
            <a href="#pesquisa">
                Pesquisa
            </a>
            <a href="#equipe">
                Equipe
            </a>
            <a href="#contato">
                Contato
            </a>

        </div>
    </div>


    <div class="container footer-bottom">
        <span>
            © 2026 Club Meal | Todos os direitos reservados
        </span>
        <span>
            Merenda Já · Projeto Integrador
        </span>

    </div>
</footer>