<header class="header">

    <a href="#hero" class="logo">
        <img
            src="assets/logo.png"
            alt="Club Meal"
        >
    </a>


    <nav class="nav">
        <a href="#empresa">
            Empresa
        </a>
        <a href="#merenda">
            Merenda Já
        </a>
        <a href="#pesquisa">
            Pesquisa
        </a>
        <a href="#equipe">
            Equipe
        </a>
        <a href="#contato">
            Contato
        </a>
        <a
            href="#download"
            class="nav-button"
        >
            Conheça o Merenda Já
        </a>

    </nav>
</header>