<section class="section benefits">

    <div class="container">
        <span class="section-label">
            IMPACTO
        </span>
        <h2 class="section-title">
            Uma solução com
            diferentes impactos.
        </h2>
        <p class="section-text">
            O Merenda Já busca contribuir para uma gestão
            mais eficiente das refeições, gerando benefícios
            sociais, financeiros e ambientais.
        </p>

        <div class="benefit-grid">
            <article class="benefit">
                <span class="benefit-number">
                    01
                </span>
                <h3>
                    Ambiental
                </h3>
                <p>
                    Redução do desperdício e melhor
                    aproveitamento dos alimentos.
                </p>
            </article>

            <article class="benefit">
                <span class="benefit-number">
                    02
                </span>
                <h3>
                    Financeiro
                </h3>
                <p>
                    Auxílio na redução de gastos relacionados
                    à produção excessiva de refeições.
                </p>
            </article>


            <article class="benefit">
                <span class="benefit-number">
                    03
                </span>
                <h3>
                    Social
                </h3>
                <p>
                    Contribuição para uma alimentação
                    mais inclusiva e adequada.
                </p>
            </article>

            <article class="benefit">
                <span class="benefit-number">
                    04
                </span>
                <h3>
                    Gestão
                </h3>
                <p>
                    Informações que auxiliam no planejamento
                    e na tomada de decisões.
                </p>
            </article>

            <article class="benefit">
                <span class="benefit-number">
                    05
                </span>
                <h3>
                    Alimentação
                </h3>
                <p>
                    Melhor organização das refeições
                    oferecidas aos usuários.
                </p>
            </article>

        </div>
    </div>
</section>