<section
    class="section research"
    id="pesquisa"
>

    <div class="container">
        <span class="section-label">
            DESENVOLVIMENTO
        </span>
        <h2 class="section-title">
            Uma solução construída
            a partir de pesquisa.
        </h2>
        <p class="section-text">
            O desenvolvimento do projeto foi baseado na
            coleta, análise e compreensão de informações
            provenientes de diferentes fontes.
        </p>


        <div class="research-grid">

            <div class="research-list">

                <article class="research-item">
                    <span class="research-number">
                        01
                    </span>
                    <div>
                        <strong>
                            Leituras e documentos
                        </strong>
                        <span>
                            Pesquisa e levantamento de informações.
                        </span>
                    </div>
                </article>


                <article class="research-item">
                    <span class="research-number">
                        02
                    </span>
                    <div>
                        <strong>
                            Estudo de caso
                        </strong>
                        <span>
                            Análise de situações relacionadas ao problema.
                        </span>
                    </div>
                </article>


                <article class="research-item">
                    <span class="research-number">
                        03
                    </span>
                    <div>
                        <strong>
                            Entrevistas
                        </strong>
                        <span>
                            Funcionários, alunos e donos de restaurantes.
                        </span>
                    </div>
                </article>


                <article class="research-item">
                    <span class="research-number">
                        04
                    </span>
                    <div>
                        <strong>
                            Dados qualitativos e quantitativos
                        </strong>
                        <span>
                            Análise de informações e representação visual.
                        </span>
                    </div>
                </article>
            </div>


            

        </div>
    </div>
</section>